/*
	base colors:
#AAB2B7 (base)
#D9DDE2 (lighter)
#4A5564 (darker)
#E9F10D (yellow)
#4437FF (blue)
#FF6400 (orange)
*/

* {
	margin:0;
	padding:0;
	border:0;
}

body {
	background: #AAB2B7 url('alphonse.png') no-repeat fixed right bottom;
	color:black;
	font:small Helvetica,Verdana,Geneva,Arial,sans-serif;
	font-weight:bold;
}

footer {
	font-size:0.5em;
	text-align:center;
	position:absolute;
	bottom:2px;
	left:1em;
}

h1 {
	font-weight:lighter;
	letter-spacing:0.3em;
	font-size:4em;
	text-align:right;
	color:#D9DDE2;
	margin:0 0 -0.25em 0;
	background:#AAB2B7;
}

#h1baseline {
	clear:both;
	padding:-0.5em;
	background:#D9DDE2;
}

#errors {
	position: absolute;
	border: 2px solid red;
	background: white;
	color: black;
	font-family: monospace;
	bottom:1em;
	left:1em;
	margin:1em;
	padding:1em;
	height:1em;
	overflow:hidden;
}

#errors:hover {
	height:20em;
	overflow:scroll;
}

#clips {
	list-style:none;
}

.clip {
	position:relative;
	font-size:1.3em;
	float:left;
	width:6em;
	height:6em;
	padding:0.2em;
	margin:0.2em;
	border:1px solid #4A5564;
	word-wrap:break-word;
	background:#AAB2B7;
}

#emptyClip {
	margin:10%;
	padding:0.5em;
	font-size:3em;
	width:80%;
	height:2em;
	text-align:center;
}

#deleteClip {
	position:absolute;
	font-size:1.5em;
	width:18em;
	height:1em;
	text-align:center;
	right:1em;
	bottom:1em;
	padding:0.5em;
}

.draggedOver {
	border-left : 0.4em dotted blue;
	margin-left : 0.2em;
	background:#D9DDE2;
	border:1px solid white;
}

.playing {
	background-color:yellow;
}

.clip .buttons {
	background:#D9DDE2;
	position:absolute;
	bottom:-1;
	left:-1;
	border:1px solid #4A5564;
}

.clip .button {
	display:none;
	padding:0 3px;
	height:1.2em;
	vertical-align:middle;
}

.clip:hover .button {
	display:inline-block;
}

.clip .button:hover {
	background:white;
	cursor:pointer;
}

.looping .btnLoop {
	background:#FF6400;
	display:inline-block;
}

#setsPanel {
	position: absolute;
	top:1em;
	left:1em;
}

#setSelector {
	background: #D9DDE2;
	border: 1px solid #4A5564;
	color:black;
	vertical-align:baseline;
}

#setSelector option {
	padding:0.1em 1em;
	font-size:1.2em;
}

#setsPanel .button {
	padding:0.5em 1em;
}

#setsPanel .button:hover {
	background:#4437FF;
	cursor:pointer;
}

#uploadingFlag {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-6em;
	width:12em;
	padding:1em;
	font-weight:bold;
	color:white;
	background:red;
	text-align:center;
}